.wrapper {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 16rem 1fr;
}

.main {
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.sidebar {
  border-right: 1px solid var(--zinc-200);
  padding-left: 1.25rem;
  padding-top: 2rem;
}
