.button {
  display: flex;
  padding: 0.5rem 1rem;
  gap: 1rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  cursor: pointer;
}

.primary {
  border: 1px solid transparent;
  background: var(--blue-600);
  color: var(--white);
}

.primary:hover {
  background: var(--blue-500);
}

.secondary {
  border: 1px solid var(--zinc-200);
  background: var(--white);
}

.secondary:hover {
  background: var(--zinc-100);
}

.edit {
  border: 1px solid transparent;
  border-radius: 0.5rem;

  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  background: var(--blue-100);
  color: var(--blue-700);

  font-size: 0.875rem;
  font-weight: 500;
}

.edit:hover {
  background: var(--blue-500);
  color: var(--white);
}

.delete {
  border: 1px solid transparent;
  border-radius: 0.5rem;

  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  background: var(--red-100);
  color: var(--red-700);

  font-size: 0.875rem;
  font-weight: 500;
}

.delete:hover {
  background: var(--red-500);
  color: var(--white);
}
