.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* width: 620px; */
  /* width: 38.75rem; */
  max-width: 38.75rem;
  width: 100%;

  border: 1px solid var(--zinc-200);
  border-radius: 0.5rem;
  padding: 1rem;
  background: var(--white);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--zinc-900);
}

.subtitle {
  font-size: 0.875rem;
  color: var(--zinc-500);
}

.avatarSection {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.avatarImage {
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  background: var(--zinc-200);
  object-fit: cover;
}

.avatarInfo {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.formSection {
  /* margin-top: 0.5rem;
   */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.label {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--zinc-700);
}

.helperText {
  font-size: 0.75rem;
  color: var(--zinc-500);
}

.input {
  padding: 0.5rem;

  border: 1px solid var(--zinc-200);
  border-radius: 0.5rem;

  font-size: 0.875rem;
  color: var(--zinc-900);

  background: var(--white);

  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;
}

.input::placeholder {
  color: var(--zinc-400);
}

.input:focus {
  outline: none;
  border-color: var(--blue-500);
  box-shadow: 0 0 0 1px var(--blue-500);
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}
