.item {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
  color: var(--zinc-700);
  /* border: 1px solid transparent; */
  transition: all 0.2s ease;
}

.item:hover,
.itemActive {
  background: var(--blue-50);
  color: var(--blue-700);
  /* border: 1px solid var(--blue-200); */
  box-shadow: 0 0 0 1px var(--blue-200);
}

.icon {
  height: 1.25rem;
  width: 1.25rem;
}
