.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
}

.search {
  display: flex;
  padding: 0.5rem;
  gap: 1rem;

  border: 1px solid var(--zinc-200);
  border-radius: 0.75rem;
  color: var(--zinc-400);
}

.search input {
  border: 1px solid transparent;
}

.tableContainer {
  border: 1px solid var(--zinc-200);
  border-radius: 0.75rem;
  overflow: hidden;

  background: var(--white);
}

.table {
  width: 100%;
  border-collapse: collapse;

  border-radius: 0.75rem;
  overflow: hidden;
}

.table thead {
  background: var(--zinc-100);
}

.table th {
  padding: 0.75rem;
  text-align: left;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--zinc-600);

  border-bottom: 1px solid var(--zinc-200);
}

.table td {
  padding: 0.75rem;
  border-bottom: 1px solid var(--zinc-200);
}

.table tbody tr:first-child td {
  border-top: none;
}

.table tbody tr:last-child td {
  border-bottom: none;
}

.table tbody tr:hover {
  background: var(--zinc-50);
}

.actions {
  display: flex;
  gap: 0.5rem;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;

  padding: 0;
  margin: -1px;

  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;

  border: 0;
}
