:root {
  --white: #fff;

  --zinc-200: oklch(92% 0.004 286.32);
  --zinc-300: oklch(87.1% 0.006 286.286);
  --zinc-500: oklch(55.2% 0.016 285.938);
  --zinc-700: oklch(37% 0.013 285.805);
  --zinc-900: oklch(21% 0.006 285.885);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
